name: Zig CI
  
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  zig:
    name: Zig CI
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        zig_version: ["0.13.0"] # eventually use multiple versions once stable
        rust:
          - stable
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - uses: ./.github/actions/libextism
      - name: Setup Zig env
        uses: goto-bus-stop/setup-zig@v2
        with: 
          version: ${{ matrix.zig_version }}
      - name: Test Zig Host SDK
        run: |
          zig version
          LD_LIBRARY_PATH=/usr/local/lib zig build test
